
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,200;1,400&family=Work+Sans:wght@300;400;600&display=swap');

*{
    box-sizing:content-box;
    padding: 8px;
    margin: 0px;
}

change-mode{
    color: #FFFFFF;
    background-color: black;
}

/* HEADER */
a{  
    color: #ffffff;
    text-decoration: none;
}

header{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listanavegador{
        display: flex;
}

a:hover{
    color: #FFB742;

}

li{
    list-style-type: none;
    margin: 15px;
}

button{
    background: #FFB742;
    height: 54px;
    width: 121px;
    left: 1271px;
    border-radius: 50px;
    padding: 5px;
    border-style: none;
    font-weight: bold;
}
button a{
    color: #212529;
}
button a:hover{
    color:#212529
}

/* SECTION */

body {
    background: #212529;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    padding: 0px;
}

#minombreamarillo{
    color: #FFB742 ;
}

h3{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

.caja2conimagen{
    text-align: center;
    margin-top: 100px;
}

#textopeq{
    display: block;
}

.caja2conimagen img{
    height: 222px;
    width: 210px;
}



/*Section*/
section{
    padding: 12px;
    height: 1000px;
}
.cajaGris{
    background: #292B2E;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    width: 416px;
    height: 120px;
    justify-content: space-between;

}
.trescajas{
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.TextoCajaGris{
    width: 200px;
}
.TextoCajaGris span{
    display: block;
    text-align: center;
}
.TextoCajaGris span:nth-child(1){
    color: #FFB742;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
} 
.cajaGris img{
    width: 64px;
    height: 64px;
    margin-left: 5px;
}

/*footer*/

footer{
    background: #1C1C1C;
    justify-content: space-between;
    display: flex;
    margin: 0%;
}
.namefooter{
    color :#FFB742;
    font-family: 'Poppins', sans-serif;
    width: 253px;
    height: 66px;
}
.subtitles{
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    justify-content: left;
    display: flex;
}
li{
    list-style: none;
}
.Pages li a{
    color: #7b7b7b;
    text-decoration: none;
    font-size: 14px;
}
.Pages li a:hover{
    font-family: 'Work Sans', sans-serif;
    color:#FFB742;
    padding: 8px;    
}
.enterMail{
    color: #7b7b7b;
    font-size: 14px;
}

.inputGroup{
    position: relative;
}
.input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-family: 'Work Sans', sans-serif;
    color:#ffffff;
    background-color: transparent;
    outline: 2px solid #4e4c4c;
}
.input-label{
    position: absolute;
    top: 0;
    left: 0;
    transform:translate(10px, 10px);
    transition: transform .25s;
    font-size: 12px;
    color: #4e4c4c;
}
.input:focus+.input-label,
.input:valid+.input-label{
    transform: translate(10px, -14px) scale(.8);
    color: #FFB742;
    padding-inline: 5px;
    background-color: #242329;
}
.input:is(:focus, :valid){
    outline-color: #FFB742;
}

/*DARKLIGH*/
.changeColor{
    background-color: #FFFFFF;
    color: black;
}
.colorwhite{
    color: #1C1C1C;
}