@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,200;1,400&family=Work+Sans:wght@300;400;600&display=swap');

*{
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #72c7d0;   
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

body{
    width: 100%;
}
.info{
    display: flex;
    flex-direction: row;
}
.caja2{
    flex-grow: 1;
}
.linksCards{
    background-color: #96c96a;
    width: 100;
    height: 50px;
}
.list-cards{
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-evenly;
}
.list-cards li{
    padding: 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    
}
a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.cajaCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #72c7d0;



    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    background-color: #72c7d0;
    flex-grow: 1; */
}

h3{
    text-align: center;
}

.card{
    background-color: #d7f2f2;
    width: 287px;
    height: 410px;
    border-radius: 20px;
    margin: 20px;
}

.imgCard{
    background-color: #ffffff;
    width: 250px;
    height: 246px;
    border-radius: 20px;
    margin-left: 18px;
    margin-top: 55px;
    display: flex;
}

.imgCard img{
    width: 100%;
}

article{
    padding: 10px;
}

h4{
    margin: 10px;
}

.about-me{
    border-radius:10px ;
    padding: 2px;
    border: solid 1px white;
    background-color: #d7f2f2;
    margin: 10px;
    width: 100px;
}

.about-me a{
    color: #233160;
}

span p{
    text-align: justify;
}
/*FOOTER*/

footer{
    background: #96c96a;
    justify-content: space-between;
    display: flex;
    margin: 0%;
    flex-grow: 1;
}
.namefooter{
    color :#FFB742;
    font-family: 'Poppins', sans-serif;
    width: 253px;
    height: 66px;
}
.subtitles{
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    justify-content: left;
    display: flex;
}
li{
    list-style: none;
}
.Pages li a{
    color: #7b7b7b;
    text-decoration: none;
    font-size: 14px;
}
.Pages li a:hover{
    font-family: 'Work Sans', sans-serif;
    color:#FFB742;
    padding: 8px;    
}
.enterMail{
    color: #7b7b7b;
    font-size: 14px;
}


